body {
    background-image: url("../images/underwater.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.alert, .alert-primary {
    background: linear-gradient(black, rgb(146, 146, 0), yellow, rgb(146, 146, 0), black);
    margin-top: 10%;
    text-align: center;
    width: 100%;
    height: 90%;
    border: none;
}
h1 {
    color: white;
}
.info {
    margin-top: 15%;
}
#playbutton {
    margin-top: 15%;
}
#theTimer{
    color: white;
    font-size:30px;
    text-align:center;
  }
  .images {
      width: 350px;
      margin-top: 10%;
  }
  #currentQuestion{
    font-size: 16px;
    color: white;
  }
#correctAnswer {
    font-size: 16px;
    color: white;
}
button {
    margin: 5px;
}
.instructions {
    font-size: 16px;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}
#correctAnswerDisplay {
    font-size: 16px;
    color: white;   
}
#explain {
    font-size: 16px;
    color: white; 
}